* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

.header {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f06292;
}

.contact-info {
    font-size: 14px;
}

.social-icons a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.navbar a {
    color: black;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu a {
    color: black;
    text-decoration: none;
}

.btn-request {
    background-color: #ff4081;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.hero {
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-main {
    background-color: #ff4081;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
}

.info-box {
    max-width: 30%;
}

.about-us {
    background-color: rgba(156, 129, 129, 0.089);
    padding: 50px 20px;
    text-align: center;
}

.about-image img {
    margin-top: 20px;
    height: 300px;
    width: 300px;
}

.services {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.24);
    text-align: center;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.services-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.service h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.testimonials {
    padding: 50px;
    text-align: center;
}

.contact {
    padding: 50px;
    text-align: center;
}
